<div class="example-container">
  <div [hidden]="flagProgressBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
  <ng-progress id="progressBar" [color]="'white'"></ng-progress>
  <mat-toolbar color="primary" class="example-toolbar" > 
    
      
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button> 
      
      <h1 class="example-app-name">Trans Pool</h1>


      <span class="example-spacer"></span>
      <ng-container *ngIf="this.estaLogueado">
      <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
      </ng-container>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/perfil']">
            <mat-icon>account_box</mat-icon>
            <span>Mi Perfil</span>
        </button>
        <button mat-menu-item [routerLink]="['/ingresar']">
          <mat-icon>manage accounts</mat-icon>
          <span>Ingresar</span>
        </button>
        <button mat-menu-item (click)="cerrarsesion()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
     
    </mat-menu>
  </mat-toolbar>
  <mat-drawer-container class="example-sidenav-content" autosize>
    <mat-drawer #drawer style="width: 200px" mode="side">

        <img src="assets/logo_deadpool.png" width="200"/>
        <ng-container *ngIf="this.estaLogueado">
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer;" [routerLink]="['/buscar']">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
        <mat-divider></mat-divider>  

        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer; " [routerLink]="['/departamento']">
          <mat-icon>room</mat-icon>
          <span>Departamento</span>
        </button>
        <mat-divider></mat-divider>     
        
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer;" [routerLink]="['/vehiculo']">
          <mat-icon>commute</mat-icon>
          <span>Vehiculo</span>
        </button>
      </ng-container>
      <br>
        <div style="color: black" class="center">
        </div>         
      
    </mat-drawer>

      <div class="example-sidenav-content">
          <router-outlet></router-outlet>
      </div>

    </mat-drawer-container>

</div>